<div class="logo">
  <img src="assets/logo-keycloak.png" alt=""/>
</div>
<div class="row">
  <div class="column">
    <img src="assets/giphy1.gif" alt=""/>
    <img src="assets/giphy5.gif" alt=""/>
  </div>
  <div class="column">
    <img src="assets/giphy2.gif" alt=""/>
    <img src="assets/giphy6.gif" alt=""/>
  </div>
  <div class="column">
    <img src="assets/giphy3.gif" alt=""/>
    <img src="assets/giphy7.gif" alt=""/>
  </div>
  <div class="column">
    <img src="assets/giphy4.gif" alt=""/>
    <img src="assets/giphy8.gif" alt=""/>
  </div>
</div>

